<a href="https://colab.research.google.com/github/AeyshaAkterPurnia/PYTHON/blob/main/Practice/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name_set = {"purnia", "Farjana", "Aeysha"}
print(name_set)

{'Aeysha', 'Farjana', 'purnia'}

In [ ]:
name_set = {"purnia", "Farjana", "Aeysha", "Purnia", "purnia", "aeysha"}
print(name_set)

{'Aeysha', 'aeysha', 'Purnia', 'Farjana', 'purnia'}

In [ ]:
name_set = {"purnia", "Farjana", "Aeysha", True, 1, 2,0}
print(name_set)

{0, True, 2, 'Aeysha', 'Farjana', 'purnia'}

In [ ]:
name_set = {"purnia", "Farjana", "Aeysha", True, False,0}
print(name_set)

{False, True, 'Aeysha', 'Farjana', 'purnia'}

In [ ]:
name_set = {"purnia", "Farjana", "Aeysha", True, 1, 2,0}
print(len(name_set))

6

In [ ]:
name_set = {"purnia", "Farjana", "Aeysha", True, 22, 0}
print(name_set)

{0, True, 'Aeysha', 22, 'Farjana', 'purnia'}

In [ ]:
name_set = {"purnia", "Farjana", "Aeysha"}
print(type(name_set))

<class 'set'>

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
more_fruits = {"watermilon", "Mango", "Papaya"}
fruits.update(more_fruits)
print(fruits)

{'Pineapple', 'Mango', 'Papaya', 'Apple', 'Banana', 'watermilon', 'Goava'}

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
more_fruits = ["watermilon", "Mango", "Papaya"]
fruits.update(more_fruits)
print(fruits)

{'Mango', 'Banana', 'Pineapple', 'Papaya', 'Apple', 'watermilon', 'Goava'}

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
fruits.remove("Goava")
print(fruits)

{'Pineapple', 'Banana', 'Apple'}

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
fruits.discard("Goava")
print(fruits)

{'Pineapple', 'Banana', 'Apple'}

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}

x = fruits.pop()
print(x)
print(fruits)

Pineapple
{'Banana', 'Goava', 'Apple'}

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
fruits.clear()
print(fruits)

set()

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
for x in fruits:
  print(x)

Pineapple
Banana
Goava
Apple

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
num = {1,2,3,4,5}
join = fruits.union(num)
print(join)

{1, 2, 3, 4, 5, 'Banana', 'Pineapple', 'Apple', 'Goava'}

In [ ]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
num = {1,2,3,4,5}
join = fruits | num
print(join)

{1, 2, 3, 4, 5, 'Banana', 'Pineapple', 'Apple', 'Goava'}

In [1]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
num = {1,2,3,4,5}
name = {"Aeysha", "Purnia"}
boolean = {True, False}
join = fruits.union(num, name,boolean)
print(join)

{False, 1, 2, 3, 4, 'Apple', 5, 'Aeysha', 'Purnia', 'Banana', 'Goava', 'Pineapple'}

In [2]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
num = {1,2,3,4,5}
name = {"Aeysha", "Purnia"}
boolean = {True, False}
join = fruits | num | name | boolean
print(join)

{False, 1, 2, 3, 4, 'Apple', 5, 'Aeysha', 'Purnia', 'Banana', 'Goava', 'Pineapple'}

In [3]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
num = {1,2,3,4,5}
fruits.update(num)
print(fruits)

{1, 2, 3, 4, 'Apple', 5, 'Banana', 'Goava', 'Pineapple'}

In [5]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
more_fruits = {"watermilon", "Mango", "Papaya", "Apple"}
set1 = fruits.intersection(more_fruits)
print(set1)

{'Apple'}

In [7]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
more_fruits = {"watermilon", "Mango", "Papaya", "Apple"}

set2 = fruits & more_fruits
print(set2)

{'Apple'}

In [10]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
more_fruits = {"watermilon", "Mango", "Papaya", "Apple", "Goava"}

set3 = fruits.intersection_update(more_fruits)
print(set3)

None

In [11]:
group1 = {"Apple", "Cherry", 1, 0, "Banana"}
group2 = {False,"watermilon", 2, "Papaya",1, "Apple", "Goava", True}
group4 = group1.intersection(group2)
print(group4)

{0, 1, 'Apple'}

In [13]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
more_fruits = {"watermilon", "Mango", "Papaya", "Apple", "Goava"}
set4 = fruits.difference(more_fruits)
print(set4)

{'Banana', 'Pineapple'}

In [14]:
fruits = {"Apple", "Pineapple", "Goava", "Banana"}
more_fruits = {"watermilon", "Mango", "Papaya", "Apple", "Goava"}
set5 = fruits - more_fruits
print(set5)

{'Banana', 'Pineapple'}