<a href="https://colab.research.google.com/github/AeyshaAkterPurnia/PYTHON/blob/main/Practice/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(thistuple[1])
print(thistuple[-1])
print(thistuple[1:3])
print(thistuple[:3])
print(thistuple[1:])
print(thistuple[-2:3])

('apple', 'banana', 'cherry')
banana
cherry
('banana', 'cherry')
('apple', 'banana', 'cherry')
('banana', 'cherry')
('banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [1]:
a = ("a", "b", "c")
b = (1,2,3)
c = a + b
print(c)

('a', 'b', 'c', 1, 2, 3)